.multi-step-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    background: var(--clr-white);
    padding: 1rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: var(--global-radius);
    box-shadow: var(--shadow);

    border: 1px solid var(--clr-cool-gray);

    @media screen and (min-width: 60em) {
        width: 55.25rem;
        height: 35.5rem;
    }
}

/* Form Navigation */
.form-navigation {
    display: grid;
    gap: 1.5rem;
    justify-items: start;
    width: 100%;
    height: 100%;
    position: relative;

    .form-navigation__bg {
        background-image: url("@/assets/images/bg-sidebar-desktop.svg");
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
    }

    ul {
        display: grid;
        align-content: start;
        gap: 1rem;
        width: 100%;
        height: auto;
        list-style: none;
        margin: 0;
        padding: 1.5rem;
        border-radius: 0.5rem;
        color: var(--clr-white);
        z-index: 1;
        position: relative;

        li {
            &:hover {
                .step-number {
                    & ::after {
                        //translate: 0 calc((-2.125rem * 2) - 2px);
                        translate: 0 calc(-200% - 2px);
                    }
                }
            }
            @supports selector(:has(ul)) {
                &:has(+ :hover) {
                    .step-number {
                        span {
                            color: var(--clr-white);
                        }
                        &::after {
                            //translate: 0 calc((2.125rem * 2) - 2px);
                            translate: 0 calc(200% - 2px);
                        }
                    }
                }
            }

            .step-button {
                display: none;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                padding: 0.5rem;
                color: inherit;
                background: none;
                border: none;
                outline: none;
                text-align: left;
                cursor: pointer;

                &:hover,
                &:active,
                &.active {
                    .step-number {
                        color: var(--clr-purplish-blue);
                        &::after {
                            display: block;
                            scale: 1;
                            opacity: 1;
                        }
                    }
                    .step-label {
                        transform: translateX(0.4rem);
                    }
                }

                &.active {
                    .step-number {
                        &::after {
                            opacity: 1;
                        }
                    }
                }

                @media screen and (min-width: 40em) {
                    display: flex;
                }

                @media screen and (max-width: 40em) {
                    .step-label {
                        display: none;
                    }
                }

                .step-number {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    --step-number-size: 2.125rem;
                    width: var(--step-number-size);
                    height: var(--step-number-size);
                    --round-border-radius: 50%;
                    border-radius: var(--round-border-radius);
                    background: none;
                    color: var(--clr-purplish-blue);
                    font-size: 0.875rem;
                    font-weight: 700;
                    text-align: center;
                    line-height: 2.125rem;
                    border: 2px solid var(--clr-white);
                    color: var(--clr-white);
                    margin-right: 1rem;
                    position: relative;

                    span {
                        position: inherit;
                        z-index: 1;
                        font-weight: 700;
                    }

                    &::after {
                        display: block;
                        transition: translate 250ms, opacity 550ms;
                        //scale: 0;
                        opacity: 0;

                        width: var(--step-number-size);
                        height: var(--step-number-size);
                        position: absolute;
                        z-index: 0;
                        content: "";
                        background: var(--clr-light-blue);
                        border-radius: var(--round-border-radius);

                        border: 2px solid var(--clr-white);
                    }
                }

                .step-label {
                    text-transform: uppercase;
                    transition: var(--transition-default);
                    overflow: hidden;
                    position: relative;

                    .eyebrow {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-start;
                        align-items: center;
                        color: var(--clr-pastel-blue);
                        font-size: 0.875rem;
                        position: relative;
                        overflow: hidden;
                    }

                    .title {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-start;
                        align-items: center;
                        font-weight: 700;
                    }

                    .active-identifier {
                        font-size: 0.5rem;
                        padding-left: 0.5rem;
                        transform: translateY(-0.1rem);
                    }
                }
            }
        }
    }
}

.clicked {
    animation: bounce 0.2s ease-in-out infinite;
    animation-iteration-count: 1;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* Form Body */
.multi-step-form-body {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 2rem 5rem 1rem 2rem;
    overflow-x: hidden;

    @media screen and (min-width: 60em) {
        padding: 3rem 4rem 2rem 3rem;
    }

    header {
        margin-bottom: 0.5rem;
    }
}

.form-action {
    display: flex;
    justify-content: space-between;
    margin-top: auto;

    button {
        justify-self: flex-end;
    }
}

.form-page-wrapper {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.form-page {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    align-items: start;
    background: var(--clr-white);
    width: 100%;
    height: 100%;
    padding: var(--padding) 0;

    .form__group {
        display: grid;
        gap: 0;
        width: 100%;
        height: auto;
        position: relative;

        label {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin: var(--input-label-margin);
            font-weight: var(--input-label-font-weight);
            color: var(--input-label-color);

            span {
                font-weight: inherit;
                color: inherit;
            }

            .error-message {
                color: var(--input-label-error-color);
            }
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"] {
            font-size: var(--input-font-size);
            padding: var(--input-padding);
            border-radius: var(--default-border-radius);
            border: var(--default-border);
            width: 100%;
            color: var(--clr-cool-gray);
            background: var(--clr-white);
            transition: var(--transition-default);
            outline: none;
            font-weight: var(--input-font-weight);

            &:focus,
            &:active,
            &:hover {
                border-color: var(--clr-purplish-blue);
            }

            &.error {
                border-color: var(--clr-strawberry-red);
            }
        }
    }
}

.plans {
    display: grid;
    width: 100%;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    padding-left: 2px;
    padding-right: 2px;

    .plans__plan-box {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: baseline;
        padding: 1rem;
        border: 2px solid transparent;
        transition: var(--transition-default);
        cursor: pointer;
        width: 100%;
        background: transparent;
        text-align: left;
        position: relative;
        overflow: hidden;

        * {
            z-index: 1;
        }

        .plan-name {
            position: relative;
            transition: all 250ms ease;

            &.plan-name--move-up {
                transform: translateY(-1rem);
            }
        }

        h2 {
            font-size: 1.25rem;
        }

        .icon {
            margin-bottom: 2rem;
        }

        &::after,
        &::before {
            display: block;
            width: 100%;
            height: 100%;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            border-radius: var(--default-border-radius);
            transition: var(--transition-default);
        }

        &::before {
            border: var(--default-border);
        }

        &:hover {
            border: 2px solid transparent;
        }

        &:hover::after,
        &.active::after {
            border: var(--default-border);
            border-color: var(--clr-purplish-blue);
            background: var(--clr-alabaster);
            visibility: visible;
            opacity: 1;
        }

        // Move background to the right
        &:hover + .plans__plan-box::after {
            translate: -100%;
            visibility: visible;
            opacity: 1;
        }

        // Move background to the Left
        &:has(+ :hover)::after {
            translate: 100%;
        }

        .plan-price {
            font-size: 1rem;
            font-weight: 500;
            color: var(--clr-cool-gray);
        }

        .plan-promotion {
            font-size: 0.875em;
            margin-top: 0.75em;
            display: block;
            position: absolute;
            bottom: 1rem;
        }
    }
}

.billing-frequency-controller {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    gap: 1rem;
    padding: 0.5rem 1rem;
    background: var(--clr-alabaster);
    border-radius: var(--default-border-radius);
    margin-top: 1rem;

    .button {
        margin: 0;
    }
}

.frequency-switch {
    display: flex;
    position: relative;
    margin: 0 1rem;
    padding: 0.125rem;
    outline: none;
    border: none;
    background: none;

    &__toggle {
        display: flex;
        align-items: center;
        background: var(--clr-marine-blue);
        width: 3rem;
        height: 1.5rem;
        border-radius: 1rem;
        padding: 0.25rem;
        transition: var(--transition-default);
        cursor: pointer;

        &:after {
            display: block;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background: var(--clr-white);
            content: "";
            margin: 0;
            padding: 0;
            transition: var(--transition-default);
        }

        &--monthly {
            &:after {
                transform: translateX(0);
            }
        }

        &--yearly {
            &:after {
                transform: translateX(1.5rem);
            }
        }
    }
}

/* Define CSS transition for the price */
.price-fade-enter-active,
.price-fade-leave-active {
    transition: opacity 0.5s;
}
.price-fade-enter, .price-fade-leave-to /* .price-fade-leave-active in <2.1.8 */ {
    opacity: 0;
}

.add-ons {
    display: grid;
    gap: 1rem;
    width: 100%;
}

.checkbox-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    border: var(--default-border);
    padding: 1rem;
    border-radius: var(--default-border-radius);
    cursor: pointer;
    transition: var(--transition-default);

    &:hover,
    &.active {
        border-color: var(--clr-purplish-blue);
        background: var(--clr-alabaster);
    }

    input[type="checkbox"] {
        width: 1.125rem;
        height: 1.125rem;
        border-radius: var(--default-border-radius);

        &:focus,
        &:hover,
        &:active {
            border-radius: var(--default-border-radius);
            outline: 2px solid var(--clr-purplish-blue);
            outline-offset: 2px;
            border-radius: var(--default-border-radius);
        }
    }
}

.add-ons__checkbox-label {
    line-height: 1em;
}

.add-ons__price {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--clr-purplish-blue);
    margin-left: auto;
    text-align: right;
}

/* ----- Form Summary ----- */
.form-summary {
    display: grid;
    gap: 1rem;

    .form-summary__plan-option {
        h2 {
            font-size: 1.125rem;
        }

        .form-summary__plan-option__title {
        }

        .form-summary__plan-option__value {
            font-weight: 700;
        }

        .change-plan {
            color: var(--clr-cool-gray);
            text-decoration: underline;
        }
    }
}
